.full-screen{
    min-height: 100vh;
    width: 100%;
}

.full-screen-80{
    min-height: 90vh;
    width: 100%;
}

.d-flex-css{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.d-flex-row-1{
    flex-basis: 80%;
}

.d-flex-row-2{
    flex-basis: 20%;
}

.test{
    border: 1px solid red;
}